.contact {
    height: 100vh;
    z-index: 1;
    overflow: auto;
    background: 
    linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.5)
     ),
     url('../img/home-bg.jpg') center;
     background-size: cover;
     color: set-text-color($primary-color);

     h2 {
        font-size: 3rem;
        margin-top: 25vh;
        margin-left: 15vw;
        font-family: 'Dosis', sans-serif;
        color: set-text-color($primary-color);

     }

     &-list {
        font-size: 1.5rem;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Dosis', sans-serif;
        margin: 5vh 0px 5vh 15vw;
     }

    .social-icons {
        overflow: hidden;
        z-index: 1;
        position: inherit;
        bottom: 1rem;
        left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &-link {
           @include transition-ease;
           color: set-text-color($primary-color);
           margin: 0.4rem;
           cursor: pointer;
           
           &:hover {
                 color: $secondary-color;
           }  
       }
    }

    footer {
       position: fixed;
       bottom: 1rem;
       right: 1rem;
       font-family: 'Dosis', sans-serif;
    }
}