@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

$primary-color: #262626;
$secondary-color: #a6ff00;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@function set-text-color($color) {
    @if lightness($color) < 60% {
        @return #fff;
    }
    @else {
        @return #000;
    }
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out; 
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
} 
