.menu {

    &-btn {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 3;
        width: 50px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border-radius: 10%;
        box-shadow: 1.5px 1.5px 10px 0px set-text-color($primary-color);

        
        &-burger {
            position: absolute;
            top: 20px;
            right: 0.3rem;
            width: 40px;
            height: 3px;
            background-color: set-text-color($primary-color);
            @include transition-ease;
            border-radius: 10%;

            &::before {
                content: '';
                position: absolute;
                top: -11px;
                right: 0rem;
                width: 40px;
                height: 3px;
                background-color: set-text-color($primary-color);
                @include transition-ease;
                border-radius: 10%;
            }

            &::after {
                content: '';
                position: absolute;
                top: 11px;
                right: 0rem;
                width: 40px;
                height: 3px;
                background-color: set-text-color($primary-color);
                @include transition-ease;
                border-radius: 10%;
            }
        }

        > .open {
            background: transparent;

            &::before {
                transform: rotate(403deg) translate(10px, 8px);
                border-radius: 10%;
            }

            &::after {
                transform: rotate(-403deg) translate(7px, -7px);
                border-radius: 10%;
            }
        }


    }

    &-nav {
        z-index: 2;
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: rgba($primary-color, 0.98);
        text-align: center;
        @include transition-ease;
        transform: translateY(-100%);

        &-list {
            margin-top: 20vh;
            transform: translateX(100%);

            > .open {
                transform: translateX(0);
            }
        }

        > .open {
            transform: translateX(0);
        }
        
        &-item {
            margin-top: 13vh;
            @include transition-ease;
            transform: translateX(100%);

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    transition-delay: ($i * 0.19s);
            }
        }
        
        }

        &-link {
            text-decoration: none;
            color: set-text-color($primary-color);
            text-transform: uppercase;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
            font-size: 1.8rem;
            @include transition-ease;
            
            &:hover {
                color: $secondary-color;
            }
        }

        .active {
            color: $secondary-color;
        }
    }

    > .open {
        transform: translateY(0);
    }
}


